.card-button {
  border: $border-side-black;
  height: 27px;
  margin: 3px;
}

.card {
  background-color: #D7F2FE;
  border: 3px solid #000;
  height: 331 px;
  width: 270px;
}

.card-header {
  background-color: $background-white;
  border-bottom: $border-side-black;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: $background-white;
  font-size: 220%;
  width: 100%;
}

.recipe-name {
  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture {
  border: $border-side-black;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
  &:hover {opacity: 0.7}
  &:active {border: $border-black;}
}

.favorite {
  background-color: $background-white;
  background-image: url(https://image.flaticon.com/icons/svg/149/149222.svg);
  @include recipe-button-style();
}

.favorite-active {
  background-image: url(https://image.flaticon.com/icons/svg/148/148841.svg);
}

.add-recipe-to-cook-button {
  background-image: url(https://image.flaticon.com/icons/svg/1689/1689073.svg);
  @include recipe-button-style();
}

.to-cook-active {
  background-color: #00a1d6;
  background-image: url(https://image.flaticon.com/icons/svg/1689/1689235.svg);

}

.ingredients-confirmation,
.ingredients-cost {
  color: $font-white;
}

li {
  color: $font-white;
}
