@import 'variables';
@import 'mixins';
@import 'header-styles';
@import 'recipe-card-styles';

html {
  background-color: $background-blue;
  border: $border-black;
  height: 100vh;
  @include xs;
  @include sm;
  @include md;
  @include lg;
  @include xl;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

main {
  background-color: $background-blue;
  @include full-size();
}

h3 {
  color: $background-white;
  font-size: 250%;
}

.hidden {
  display: none;
}

img, button {
  cursor: pointer;
  @include highlight;
}

input {
  @include highlight;
}
