//STYLING
$background-blue: #37515C;
$background-white: #EBF5EE;
$font-white: white;
$red: #E75816;
$border-black: 2px solid #000;
$border-side-black: 1px solid #000;

//BREAKPOINTS
$screen-xs: 0;
$screen-sm: 500px;
$screen-md: 600px;
$screen-lg: 900px;
$screen-xl: 1200px;
